.AdminPanelContainer{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.AddVisitorComponentWrapper{
    padding-top: 11px;
}

.VisitorManagementComponentWrapper{
    flex: 1;
}